<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.mapper.HostMapper">
    <insert id="saveHost">
        INSERT IGNORE INTO host
        (ip, name, type)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.ip}, #{item.name}, #{item.type})
        </foreach>
    </insert>
    <select id="listHost" parameterType="list" resultType="Host">
        SELECT id, ip, name, type
        FROM host
        <where>
            <if test="name != null and name != ''">
                LOCATE(#{name}, name) > 0
            </if>
            <if test="ip != null and ip != ''">
                LOCATE(#{ip}, ip) > 0
            </if>
        </where>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
